name: Create a default comment on new issues

on:
  issues:
    types: [opened]

jobs:
  comment-with-gh-api:
    runs-on: ubuntu-latest
    steps:
      - name: "Create comment"
        run: |
          curl -L -X POST \
            ${COMMENTS_URL}
            -d '{"body": "\ '
            Thank you for opening the issue! Before I see the issue and start working on it, please make sure 
            you do the following:
            - Explain the issue thoroughly
            - Give a reproducible case where the issue occurs consistantly
            - Attach relevant screenshots if appropriate
            '"}
        env:
         GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
         COMMENTS_URL: ${{github.event.issue.comments_url}}
         ISSUE_NUMBER: ${{github.event.issue.number}}
    
